<div class="comment clearfix">
<div class="navbar-divider"></div> 

    <div class="comment_content">
        <p class="comment_name"><strong><%= comment.user.username %></strong></p>
        <p class="comment_body"><%= comment.comment %></p>
        <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
    </div>

    <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
        <%= link_to 'Borrar', [comment.post, comment],
                        method: :delete,
                        class: "button is-primary is-pulled-right",
                        data: { confirm: 'Estas seguro de querer borrar este comentario' }
                        %>

        <%= link_to 'Editar', edit_post_comment_path(comment.post, comment),
                        class: "button is-primary is-pulled-right mr10"
                        %>
    <% end %>

    <br><br>
  

    
</div>
