<div class="content_root">
    <div class="contenido_root">
        <%= image_tag "header.jpeg", :class => "img-responsive" %>
                <%= image_tag "header.jpeg", :class => "img-responsive" %>

        <%= image_tag "header.jpeg", :class => "img-responsive" %>

        <%= image_tag "header.jpeg", :class => "img-responsive" %>

        <%= image_tag "header.jpeg", :class => "img-responsive" %>

        <%= image_tag "header.jpeg", :class => "img-responsive" %>


    </div>

    <div class="news_root">
        <%= render 'layouts/news' %>
    </div>
</div>