<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @novel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @novel.description %>
</p>


<title>Unity WebGL Player | Novela Visual</title>
<%= stylesheet_link_tag 'application', "/uploads/novel/templateData/#{@novel.id}/style.css" %>

<script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/uploads/novel/build/#{@novel.id}/Construccione.json", {onProgress: UnityProgress});
</script>


    <div class="webgl-content">
      <div id="gameContainer" style="width: 1280px; height: 720px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Novela Visual</div>
      </div>
    </div>


<%= link_to 'Edit', edit_novel_path(@novel) %> |
<%= link_to 'Back', novels_path %>
<%= javascript_include_tag "/uploads/novel/templateData/#{@novel.id}/UnityProgress.js" %>
<%= javascript_include_tag "/uploads/novel/build/#{@novel.id}/UnityLoader.js" %>
