<div id="post_content">
    <h1 class="title"> 
        <%= @post.title %>
    </h1>

    <p class="date">
        publicado <%= time_ago_in_words(@post.created_at) %> Ago
        | <%= link_to 'Editar post', edit_post_path(@post), :class => 'post_labels' %>
        |  <%= link_to 'Borrar post', post_path(@post), method: :delete, data: { confirm: 'Estas seguro de querer borrar este Post?' }, :class => 'post_labels' %>
    </p>

    <p class="body">
        <%= @post.body %>
    </p>

    <div id="comments">
        <h2><%= @post.comments.count %> Comentarios</h2>
        <%= render @post.comments %>

        <h3> Añadir un comentario: </h3>
        <%= render "comments/form" %>
    </div>
</div>

