<div id="header">
    <% if current_page?(root_path) %>
        <p>Inicio</p>
    <% elsif current_page?(about_path) %>
        <p>Sobre nosotros</p>
    <% elsif current_page?(news_path) %>
        <p>Todos los Posts</p>
    <% elsif current_page?(novel_path) %>
        <p>Novelas</p>
    <% else %>
        <%= link_to "Volver al inicio", root_path %>
    <% end %>

       <% if user_signed_in? %>
        | <a href="#">Conectado como: <%= current_user.email %></a>
        | <a href="#">Monedas: <%= current_user.coin %></a>
        | <%= link_to "Editar cuenta", edit_user_registration_path %>
       <% end %>

    <% if user_signed_in? %>
        <div class="buttons">
            <button class="button">
                <%= link_to "Nuevo Post", new_post_path %>
            </button>
            <button class="button">
                <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            </button>
        </div>
    <% end %>

    <% if !user_signed_in? %>
        <div class="buttons">
            <button class="button">
                <%= link_to "Registrarte", new_user_registration_path %>
            </button>
            <button class="button">
                <%= link_to "Entrar", new_user_session_path %>
            </button>
        </div>
    <% end %>

</div>

<!--<% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert")  %>
<% end %>-->

<% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
   