<!DOCTYPE html>
<html>
<head>
  <title>WebVisualNovelSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dancing+Script|Raleway' %>

</head>
<body>


<!--<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->

  

  <div class="wrapper">
    <header class="main-head">
      <div id="main_content">
        <%= render 'layouts/header' %>
      </div>
    </header>
    <article class="content">
      <div id="focus" class="">
        <%= yield %>
      </div>
    </article> 
    <footer class="main-footer">
      <div class="footer">
        Footer
      </div>
    </footer>
  </div>

</body>
</html>
